.btn-primary,
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #252525;
  border-color: #252525;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .btn:hover {
  background-color: #797979;
  border: none;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #252525;
}

.menu-logo {
  height: 50px;
  width: 50px;
  margin-left: calc(100% + 125px);
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start; 
  height: 100vh; 
  gap: 10px;
  padding: 10px;
}

.percent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; 
  padding: 5px;
  flex-grow: 1;
  font-size: 20px; 
  margin-right: 40px;

}
#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; 
  padding: 40px;
  flex-grow: 1;
}

.card-history button {
  height: 30px; 
  width: 70px; 
  color: white; 
  background-color: red; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
}

.card-history button:hover {
  background-color: #ad0303;
}

.card-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; 
  padding: 10px;
  flex-grow: 1;
  margin-left: 30px;
}

.shoes-input {
  margin-bottom: 35px;
}

.card-button-container button {
  font-size: 20px;
  padding: 35px 70px;
  border: none;
  border-radius: 5px;
  background-color: #2545fc;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 11px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100px; 
  height: 50px; 
}

.card-button-container button:hover {
  background-color: #0035c7;
}


.Your-Total .button-container {
  display: box;
  gap: 35px;
  justify-items: center;
  width: 100%;
  grid-template-columns: 60px 60px;
}

.input-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.calculate-button {
  height: 40px;
  width: 100px;
  align-self: center;
  margin-top: 10px;
}

form > div:first-child {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.input-wrapper {
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
}


.card-counter #title {
  grid-area: title;
  width: 100%;
  text-align: center;
}


.card-button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  gap: 5px;
  justify-items: center; 
  align-items: center;
}

.input-wrapper input,
.input-wrapper label {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  margin: 0;
  border: none;
  display: block;
}

.input-container input {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  margin: 0;
  border: 2px solid #000;
}

/* HISTORY PAGE */
.history-page {
  padding: 80px;
  text-align: center;
  color: #000000;
  background-color: black;
}

.history-page h1 {
  font-size: 3.2em;
  color: #000000;
  margin-bottom: 50px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.history-page h1::after {
  content: "";
  background-color: rgb(207, 207, 207);
  border-radius: 40px; /* This makes it an ellipse */
  width: 700px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.history-page h2 {
  font-size: 1.8em;
  margin-top: -10px;
  margin-bottom: 30px;
  color: #000000;
}

.history-bubble {
  background-color: rgb(207, 206, 206);
  border-radius: 40px;
  padding: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: center;
  width: 100%;
}

.picture-grid > img,
.picture-grid-2 > img {
  width: 600px;
  height: 400px;
  padding: 0px;
  border: 4mm ridge rgba(10, 10, 9, 0.6);
}

.dealer-input-box {
  width: 200px;
  height: 35px;
}

.player-input-box {
  width: 200px;
  height: 35px;
}
